.white-img {
    width: 180px;
    height: 40px;
    object-fit: cover;
}

.black-img {
    width: 160px;
    height: 40px;
    object-fit: cover;
}

.nav-menu {
    border-bottom: 1px solid black;
}

.second-nav {
    background-color: white /*#f4f9f4*/;
    border-bottom: 1px solid black;
    /* position: sticky;
    top: 0; */
}

.second-nav .navbar-button a:hover {
    text-decoration: underline;
}

.navbar-button {
    text-decoration: none;
}

.navbar-button a:hover {
    /* background-color: red !important; */
    text-decoration: underline;
}

/* #collasible-nav-dropdown {
    color: white !important;
} */

.dropdown-item {
    font-size: 20px;
}

.nav-dropdown a {
    text-decoration: none;
    background-color: #fff;
}

.nav-dropdown a:hover {
    text-decoration: underline;
}