.login {
    min-height: 100vh;
    /* background-image: url('./hello.jpg');
    background-repeat: no-repeat;
    background-size: 100% 250px cover;
    background-position: 0 500px;
    max-width: 100vw; */
}

.login-img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    margin-top: 30px;
}

.login-link {
    color: #0B98D5;
}

.login-hr {
    background-color: rgba(24, 22, 22, 0.109);
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.error-message{
    padding: 5px 10px;
    color: white;
    border: 1px solid rgb(236, 31, 31, 0.5);
    border-radius: 5px;
    background-color: rgb(236, 31, 31);
    width: 50%;
    font-size: 0.8em;
    margin-bottom: 15px;
    text-align: center;
}