.edit-button {
    background-color: #0B98D5;
    font-size: 20px;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #45bff3;
}

.edit-button:focus {
    background-color: #0B98D5;
}

.edit-profile-bg {
    min-height: 100vh;
    padding-bottom: 40px;
}