@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=IBM+Plex+Sans:wght@300&family=IBM+Plex+Serif:wght@300;400;500&family=Manrope:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=IBM+Plex+Sans:wght@300&family=IBM+Plex+Serif:wght@300;400;500&family=Manrope:wght@300&family=Noto+Sans+SC:wght@300&display=swap'); */


body {
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Noto Sans SC', sans-serif; */
    font-weight: 200;
    font-size: 18px;
}

body:not(.Home) {
    background-color: #f4f9f4;
}

h1, h2, h3 {
    padding-top: 20px;
}




