@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif&family=Playfair+Display:wght@600&family=Poppins&display=swap');

body {
    font-family: 'Noto Serif', serif;
    font-weight: 200;
    font-size: 20px;
}

body:not(.Home) {
    background-color: #f4f9f4;
}

h1, h2, h3 {
    padding-top: 20px;
}




