.footer {
    background-color: black;
    color: #C7C3BA;
    position: relative;
    bottom: 0px; left: 0;
    width: 100%;
    right: 0px;
}

.footer:hover {
    color: #C7C3BA;
}

.index-footer {
    background-color: black;
    color: #C7C3BA;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
