.list-button {
    margin-top: 25px;
}

.card-row {
    margin-bottom: 200px;
}

.service-added {
    background-color: green;
}

.filter-button {
    display: inline-block;
    margin-left: 10px;
}

/* .services-list {
    background-image: url("./hands.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} */
  /* @media (min-width: 1200px)
  {
.list-container {
    max-width: 1400px;
}
  } */