.service-card {
    margin-top: 30px;
    color: black;
    height: 90%;
    width: 100%;
    /* border: 1px solid black; */
}

.card img {
    height: 100px;
    object-fit: cover;
}

.card-name {
    background-color:  #ffe227;
    color: black;
}

.card-style {
    /* background-color: red; */
    height: 100%;
}

.card-button {
    background-color: #0B98D5;
    /* width: 50%; */
    width: 30px; 
    border-radius: 80%; 
    text-align: center; 
    float: right;
    height: 30px;
}

.card-button:hover {
    background-color: #45bff3;
}

.button-position {
    margin-bottom: 28px;
}

.button-card-img {
    padding-right: 2px;
    object-fit: cover;
}

.card-edit-button {
    background-color: #0B98D5;
    /* width: 50%; */
    width: 60px; 
    border-radius: 80%; 
    text-align: center; 
    float: right;
    height: 30px;
}

.card-edit-button:hover {
    background-color: #45bff3;
}

.card-delete-button {
    background-color: #0B98D5;
    /* width: 50%; */
    width: 70px; 
    border-radius: 80%; 
    text-align: center; 
    float: left;
    height: 30px;
}

.card-delete-button:hover {
        background-color: #45bff3;
}

.image-div {
    background-color: red;
}

