.service-card {
    margin-top: 30px;
    color: black;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

.card-div {
    margin-bottom: 20px;
}

.card img {
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;

}

.card-name {
    background-color:  #94ebcd;
    color: black;
    margin-bottom: 0;
}

.card-button {
    background-color: white;
    width: 40px; 
    border-radius: 80%; 
    float: right;
    height: 40px;
    margin-top: -15px;
    border-color: black;
}
.card-button:hover {
    background-color: white;
    border-color: black;
       
}
.card-button img {
    height: 25px;
    width: 20px;
    padding-top: 5px;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.card-button img:hover {
 -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}

/* .button-position {
    margin-bottom: 30px;
} */

/* .card-edit-button {
    background-color: #0B98D5;
    width: 80px; 
    border-radius: 80%; 
    text-align: center; 
    float: right;
    height: 40px;
    font-size: 20px;
} */

/* .card-edit-button:hover {
    background-color: #45bff3;
} */

/* .card-delete-button {
    width: 100px; 
    border-radius: 80%; 
    text-align: center; 
    float: left;
    height: 40px;
    font-size: 20px;

} */

/* .card-delete-button:hover {
        background-color: #45bff3;
} */

.image-div {
    background-color: red;
}

.card-situation {
    background-color: rgba(246, 84, 84, 0.5) ;
    border-bottom-left-radius: 10px;
}

.card-situation2 {
    background-color: #c4fb6d;
    border-bottom-left-radius: 10px;
}

.card-situation3 {
    background-color: #f4d160;
    border-bottom-left-radius: 10px;
}

.fav-button {
   float: left;
}

.rewardWord {
    font-weight: bold ;
}
