.service-card {
    margin-top: 30px;
    color: black;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

/* .hidden {
    display: none;
} */

/* .visible {
  width: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; 
  z-index: 3;
  left: 20%;
   animation-name: visible;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.visible img {
  border: 3px solid #f0ff54;
  border-radius: 50%;
}
.visible div {
  width: 220px;
  height: 50px;
  background-color: white;
  opacity: 0.7;
  clip-path: polygon(10% 0%, 100% 1%, 100% 100%, 10% 100%, 0% 50%);
  border-right: 8px solid #f0ff54;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.visible p {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  padding-left: 10px;
} */

.card-div {
    margin-bottom: 20px;
    animation-name: visible;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes visible {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}

.card img {
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;

}

.card-name {
    background-color:  #93EBEA /*#e8efeb*/;
    color: black;
    margin-bottom: 0;
}

.card-button {
    background-color: white;
    width: 40px; 
    border-radius: 80%; 
    float: right;
    height: 40px;
    margin-top: -15px;
    border-color: black;
}
.card-button:hover {
    background-color: white;
    border-color: black;
       
}
.card-button img {
    height: 25px;
    width: 20px;
    padding-top: 5px;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.card-button img:hover {
 -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}

/* .button-position {
    margin-bottom: 30px;
} */

/* .card-edit-button {
    background-color: #0B98D5;
    width: 80px; 
    border-radius: 80%; 
    text-align: center; 
    float: right;
    height: 40px;
    font-size: 20px;
} */

/* .card-edit-button:hover {
    background-color: #45bff3;
} */

/* .card-delete-button {
    width: 100px; 
    border-radius: 80%; 
    text-align: center; 
    float: left;
    height: 40px;
    font-size: 20px;

} */

/* .card-delete-button:hover {
        background-color: #45bff3;
} */

.image-div {
    background-color: red;
}

.card-situation {
    background-color: rgba(235, 147, 149, 0.8) ;
    border-bottom-left-radius: 10px;
}

.card-situation2 {
    background-color: #95EB93;
    border-bottom-left-radius: 10px;
}

.card-situation3 {
    background-color: #EBCC93;
    border-bottom-left-radius: 10px;
}

.fav-button {
   float: left;
}

.rewardWord {
    font-weight: bold ;
}
